/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*loại bỏ việc tính toán kích thước khi có border hoặc padding*/
}
html{
    scroll-behavior: smooth;
    /* thanh cuộn */
    font-family: Arial, Helvetica, sans-serif;
}

/* Nguyên tắc :
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/*
    xác định 1 trang web:
    1.vị trí
    2.kích thước (width, height)
    3.màu sắc
    4.kiểu dáng (kiểu chữ, hình tròn,vuông,..)
*/


/*common*/
.clear{
    clear: both;
}

/* tạo class để sử dụng nhiều lần chữ trắng */
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right{
    float: right !important;
}

.btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 19px;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #ddd;
    color: black;
}


.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}


/* main */
#main{

}

#header{
    /* width: 100%; */
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000 ;
    background-color: #ccc;    
}

/* lấy vào thẻ con trực tiếp  */
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav .subnav{
    display: none;
    /* display là thuộc tính liên quan đến hiển thị
    display: none; là ẩn đi */
    min-width: 160px;
    /* chiều ngang tối thiểu */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* đổ bóng */
    top: 100%; /*bằng chính chiều cao của thẻ cha*/
    left: 0;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* 50% là 50% chiều ngang của chính nó */
    background: url(/web/f8-shop/theBand/assets/img/slider1.jpg) top center /cover no-repeat;
}

#slider .text-content{
    position: absolute;    
    BOTTOM: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{ 
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;

}

#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    line-height: 1.4;
    text-align: justify;
}

#content .member-list{
    margin-top: 47px;
}

#content .menber-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    padding-top: 15px;
    border-radius: 4px;
}

/* tour section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    font-size: 15PX;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px;
    margin-left: 16px;

}

.tickets-list .quantily{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* tour places */
.places-list{
    margin-top: 32px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.7;
}

.place-body{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    
}

.place-time{
    padding-top: 16px;
    opacity: 0.7;
    line-height: 1.4;
}


.place-desc{
    padding-top: 16px;

}

/* contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
}

/* map section */
.map-section img {
    width: 100%;
    filter: grayscale(50%);
    /* Change all images to black and white (100% gray) */ 
}

/* footer section */
#footer{
    margin: 64px 0;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    cursor: pointer;
    color: rgba( 0, 0, 0, 0.4); 
}

#footer .copyright a{
    color: #000;
}

#footer .copyright{
    font-size: 15px;
    padding-top: 16px;
    color: rgba( 0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba( 0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.modal-close:hover{
    opacity: 1;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
}

.modal-header {
    background-color: #009688;
    font-size: 30px;
    text-align: center;
    padding: 47px 0;
    color: #fff;
}

.modal-header .modal-heading-icon{
    margin-right: 12px;
}

.modal-body {
    padding: 16px;
}

.modal-body .modal-label{
    display: block;
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.modal-body .modal-input{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
}

.modal-body #buy-ticket:hover{
    opacity: 0.8;
}

.modal-body #buy-ticket{
    width: 100%;
    margin: 15px 0;
    background-color: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

.modal-footer{
    font-size: 15px;
    padding: 0 16px 20px 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}
